<div class="toolbar">
  <button class="btn_menu" (click)="sidebarVisible = true"><i class="pi pi-bars" style="font-size: 1.5rem"></i></button>
    <div style="margin-left: 50px;">
      <button class="btn_home" routerLink="home">
        <img
        width="40"
        alt="Angular Logo"
        src="../../assets/UPIICSA.png"/>
        <span>Salones UPIICSA</span>
      </button>
    </div>
  </div>

  <p-sidebar #sidebarRef [(visible)]="sidebarVisible">
    <ng-template pTemplate="headless">
        <div class="flex flex-column h-full">
            <div class="flex align-items-center justify-content-between px-4 pt-3 flex-shrink-0">
                <span class="inline-flex align-items-center gap-2">
                  <button class="home" routerLink="home">
                    <img
                    width="40"
                    alt="Angular Logo"
                    src="../../assets/UPIICSA.png"/>
                    <span class="title"><b>Salones UPIICSA</b></span>
                  </button>
                </span>
            </div>
            <div class="overflow-y-auto">
                <ul class="list-none p-3 m-0">
                  <li class="dropdown__list">
                    <a  class="dropdown__link">
                        <div pRipple pStyleClass="@next" enterClass="hidden" enterActiveClass="slidedown" leaveToClass="hidden" leaveActiveClass="slideup"
                            class="p-3 flex align-items-center justify-content-between text-600 cursor-pointer p-ripple" style="width: 254px;">
                            <span class="font-medium"><i class="pi pi-book mr-2"></i> <b>CULTURALES</b></span>
                            <input type="checkbox" class="dropdown__check"><i class="pi pi-chevron-down"></i>
                        </div>
                    </a>
                    <div class="dropdown__content">
                        <ul class="list-none p-0 m-0 overflow-hidden dropdown__sub">
                          <button class="btn_sidebar" routerLink="culturales/piso_1" (click)="sidebarVisible = false">
                            <li class="dropdown__li">
                              <a pRipple class="flex align-items-center cursor-pointer p-3 border-round text-700 hover:surface-100 transition-duration-150 transition-colors p-ripple" style="text-decoration:none; width: 254px;">
                                <span class="font-medium">Piso 1</span>
                              </a>
                            </li>
                          </button>
                        </ul>
                    </div>
                </li>
                <li class="dropdown__list">
                  <a  class="dropdown__link">
                      <div pRipple pStyleClass="@next" enterClass="hidden" enterActiveClass="slidedown" leaveToClass="hidden" leaveActiveClass="slideup"
                          class="p-3 flex align-items-center justify-content-between text-600 cursor-pointer p-ripple" style="width: 254px;">
                          <span class="font-medium"><i class="pi pi-desktop mr-2"></i> <b>INGENIERIA</b></span>
                          <input type="checkbox" class="dropdown__check"><i class="pi pi-chevron-down"></i>
                      </div>
                  </a>
                  <div class="dropdown__content">
                      <ul class="list-none p-0 m-0 overflow-hidden dropdown__sub">
                        <button class="btn_sidebar" routerLink="ingenieria/planta_baja" (click)="sidebarVisible = false">
                          <li class="dropdown__li">
                            <a pRipple class="flex align-items-center cursor-pointer p-3 border-round text-700 hover:surface-100 transition-duration-150 transition-colors p-ripple" style="text-decoration:none; width: 254px;">
                              <span class="font-medium">Planta Baja</span>
                            </a>
                          </li>
                        </button>
                          <button class="btn_sidebar" routerLink="ingenieria/piso_1" (click)="sidebarVisible = false">
                            <li class="dropdown__li">
                              <a pRipple class="flex align-items-center cursor-pointer p-3 border-round text-700 hover:surface-100 transition-duration-150 transition-colors p-ripple" style="text-decoration:none; width: 254px;">
                                  <span class="font-medium">Piso 1</span>
                              </a>
                            </li>
                          </button>
                          <button class="btn_sidebar" routerLink="ingenieria/piso_2" (click)="sidebarVisible = false">
                            <li class="dropdown__li">
                              <a pRipple class="flex align-items-center cursor-pointer p-3 border-round text-700 hover:surface-100 transition-duration-150 transition-colors p-ripple" style="text-decoration:none; width: 254px;">
                                  <span class="font-medium">Piso 2</span>
                              </a>
                            </li>
                          </button>
                          <button class="btn_sidebar" routerLink="ingenieria/piso_3" (click)="sidebarVisible = false">
                            <li class="dropdown__li">
                              <a pRipple class="flex align-items-center cursor-pointer p-3 border-round text-700 hover:surface-100 transition-duration-150 transition-colors p-ripple" style="text-decoration:none; width: 254px;">
                                  <span class="font-medium">Piso 3</span>
                              </a>
                            </li>
                          </button>
                      </ul>
                  </div>
                </li>
                  <li class="dropdown__list">
                    <a  class="dropdown__link">
                        <div pRipple pStyleClass="@next" enterClass="hidden" enterActiveClass="slidedown" leaveToClass="hidden" leaveActiveClass="slideup"
                            class="p-3 flex align-items-center justify-content-between text-600 cursor-pointer p-ripple" style="width: 254px;">
                            <span class="font-medium"><i class="pi pi-briefcase mr-2"></i> <b>SOCIALES</b></span>
                            <input type="checkbox" class="dropdown__check"><i class="pi pi-chevron-down"></i>
                        </div>
                    </a>
                    <div class="dropdown__content">
                        <ul class="list-none p-0 m-0 overflow-hidden dropdown__sub">
                          <button class="btn_sidebar" routerLink="sociales/planta_baja" (click)="sidebarVisible = false">
                            <li class="dropdown__li">
                              <a pRipple class="flex align-items-center cursor-pointer p-3 border-round text-700 hover:surface-100 transition-duration-150 transition-colors p-ripple" style="text-decoration:none; width: 254px;">
                                <span class="font-medium">Planta Baja</span>
                              </a>
                            </li>
                          </button>
                            <button class="btn_sidebar" routerLink="sociales/piso_1" (click)="sidebarVisible = false">
                              <li class="dropdown__li">
                                <a pRipple class="flex align-items-center cursor-pointer p-3 border-round text-700 hover:surface-100 transition-duration-150 transition-colors p-ripple" style="text-decoration:none; width: 254px;">
                                    <span class="font-medium">Piso 1</span>
                                </a>
                              </li>
                            </button>
                            <button class="btn_sidebar" routerLink="sociales/piso_2" (click)="sidebarVisible = false">
                              <li class="dropdown__li">
                                <a pRipple class="flex align-items-center cursor-pointer p-3 border-round text-700 hover:surface-100 transition-duration-150 transition-colors p-ripple" style="text-decoration:none; width: 254px;">
                                    <span class="font-medium">Piso 2</span>
                                </a>
                              </li>
                            </button>
                            <button class="btn_sidebar" routerLink="sociales/piso_3" (click)="sidebarVisible = false">
                              <li class="dropdown__li">
                                <a pRipple class="flex align-items-center cursor-pointer p-3 border-round text-700 hover:surface-100 transition-duration-150 transition-colors p-ripple" style="text-decoration:none; width: 254px;">
                                    <span class="font-medium">Piso 3</span>
                                </a>
                              </li>
                            </button>
                        </ul>
                    </div>
                </li>
              </ul>
            </div>
        </div>
    </ng-template>
</p-sidebar>