@import "primeicons/primeicons.css";
:host {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    color: #333;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 8px 0;
  }

  .btn_home{
    background-color: #00FF0000;
    border: #00FF0000;
    color: white;
    font-weight: bold;
  }

  .home{
    background-color: #00FF0000;
    border: #00FF0000;
  }

  .btn_sidebar{
    background-color: #00FF0000;
    border: #00FF0000;
    width: 254px;
  }
  
  .title {
    font-family: JosefinSans-Bold;
    font-size: 22px;
    color: #3B82F6;
    text-align: center;
    font-weight: bold;
    width: 100%;
    padding-left: 7px;
    top: 0;
    left: 0;
    vertical-align: middle;
  }

  .dropdown__link{
    color: rgb(184, 187, 191);
    padding: 1em .7em;
    text-decoration: none;
    
    display: flex;
    align-items: center;
    gap: .6rem;

    position: relative;
    
    border-radius: 6px;
  }

  .dropdown__check{
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
  }

  .dropdown__content{
    display: grid;
    grid-template-rows: var(--rows, 0fr);
    transition: .3s grid-template-rows;
  }

  .dropdown__sub{
    overflow: hidden;
  }

  .dropdown__list{
    list-style: none;
  }

  .dropdown__list:has( :checked ){
    --rows: 1fr;
    --rotate: rotate(180deg);
    --bg: #28303B;
  }
  
  .dropdown__li{
    width: 80%;
    list-style: none;
    margin-left: auto;
  }

  .btn_menu{
    position: fixed;
    height: 50px;
    width: 70px;
    top: auto;
    left: inherit;
    background-color: #00FF0000;
    border: #00FF0000;
    color: white;
    font-weight: bold;
  }

  .btn_cerrar{
    background-color: #00FF0000;
    border: #00FF0000;
  }

  .cerrar{
    color: white;
    font-weight: bold;
    vertical-align: middle;
  }

  p {
    margin: 0;
  }

  .spacer {
    flex: 1;
  }

  .toolbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    display: flex;
    align-items: center;
    background-color: #3B82F6;
    color: white;
    font-weight: 600;
  }

  .toolbar img {
    margin: 0 16px;
  }

  .content {
    display: flex;
    margin: 82px auto 32px;
    padding: 0 16px;
    max-width: 960px;
    flex-direction: column;
    align-items: center;
  }