<div class="content" role="main">
    <span class="title">PRIMER PISO DE BASICAS</span>

    <div style="display: flex; margin-top: 50px;" *ngFor="let salon of salones">
        <p-card header="Salon {{salon.numero}}" [style]="{ width: '360px' }" class="cards">
            <ng-template pTemplate="header">
                <img alt="Card" src="https://primefaces.org/cdn/primeng/images/usercard.png" />
            </ng-template>
            <ng-template pTemplate="footer">
                <p-selectButton [options]="stateOptions" [(ngModel)]="salon.estado" optionLabel="label" optionValue="value"></p-selectButton>
            </ng-template>
        </p-card>
    </div>
</div>